{
  "singleQuote": false,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 80,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],

  "importOrder": [
    "^@/types",
    "^react$",
    "^next",
    "^@tanstack/react-query",
    "^@/hooks/query",
    "^@/hooks",
    "^@mui",
    "/components",
    "^./view",
    "<THIRD_PARTY_MODULES>",
    "^@configs",
    "^@.*"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}